vendor/
node_modules/
.env
.env.add
.env.dev
.env.production
.env.backup
.git
.gitignore
.gitattributes
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
tests/
.phpunit.cache
